<div class="card">
  <div class="card-header pb-0">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h4>Contact Us</h4>
      </div>
      <div class="setting-list">
        <ul class="list-unstyled setting-option">
          <li>
            <div class="setting-light">
              <i class="icon-layout-grid2"></i>
            </div>
          </li>
          <li><i class="view-html fa fa-code font-white"></i></li>
          <li>
            <i class="icofont icofont-maximize full-card font-white"></i>
          </li>
          <li>
            <i class="icofont icofont-minus minimize-card font-white"></i>
          </li>
          <li>
            <i class="icofont icofont-refresh reload-card font-white"></i>
          </li>
          <li>
            <i class="icofont icofont-error close-card font-white"> </i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="contact-form">
      <form class="theme-form">
        <div class="form-icon">
          <i class="icofont icofont-envelope-open"></i>
        </div>
        <div class="mb-3">
          <label for="exampleInputName">Your Name</label>
          <input
            class="form-control"
            id="exampleInputName"
            type="text"
            placeholder="John Dio"
          />
        </div>
        <div class="mb-3">
          <label class="col-form-label" for="exampleInputEmail1">Email</label>
          <input
            class="form-control"
            id="exampleInputEmail1"
            type="email"
            placeholder="Demo@gmail.com"
          />
        </div>
        <div class="mb-3">
          <label class="col-form-label" for="exampleInputEmail1">Message</label>
          <textarea
            class="form-control textarea"
            rows="3"
            cols="50"
            placeholder="Your Message"
          ></textarea>
        </div>
        <div class="text-sm-end">
          <a class="btn btn-primary" href="contacts.html">SEND IT</a>
        </div>
      </form>
    </div>
  </div>
</div>
