<div>
  <div class="card activity-widget">
    <div class="card-header pb-0">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h4>Recent Activity</h4>
        </div>
        <div class="setting-list">
          <ul class="list-unstyled setting-option">
            <li>
              <div class="setting-light">
                <i class="icon-layout-grid2"></i>
              </div>
            </li>
            <li><i class="view-html fa fa-code font-white"></i></li>
            <li>
              <i class="icofont icofont-maximize full-card font-white"></i>
            </li>
            <li>
              <i class="icofont icofont-minus minimize-card font-white"></i>
            </li>
            <li>
              <i class="icofont icofont-refresh reload-card font-white"></i>
            </li>
            <li>
              <i class="icofont icofont-error close-card font-white"> </i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="activity-media">
        <div class="d-flex">
          <div class="recent-circle bg-color-primary"></div>
          <div class="flex-grow-1">
            <h6>Any desktop publishing pack ages editors.</h6>
            <span
              ><i class="me-2 align-middle" data-feather="clock"></i
              ><span class="align-middle"
                >16 Apr 2023 | 11 hours ago</span
              ></span
            >
          </div>
        </div>
        <div class="d-flex">
          <div class="recent-circle bg-color-secondary"></div>
          <div class="flex-grow-1">
            <h6>Renewed account with this new premium plan popular belief.</h6>
            <span
              ><i class="me-2 align-middle" data-feather="clock"></i
              ><span class="align-middle"
                >20 Mar 2023 | 14 hours ago</span
              ></span
            >
          </div>
        </div>
        <div class="d-flex">
          <div class="recent-circle bg-color-success"></div>
          <div class="flex-grow-1">
            <h6>
              Micron to build largest chip factory in US history will
              distracted.
            </h6>
            <span
              ><i class="me-2 align-middle" data-feather="clock"></i
              ><span class="align-middle"
                >12 Feb 2023 | 12 hours ago</span
              ></span
            >
          </div>
        </div>
        <div class="d-flex">
          <div class="recent-circle bg-color-info"></div>
          <div class="flex-grow-1">
            <h6>
              Share A Case Study On One Of Your Customers will be distracted
            </h6>
            <span
              ><i class="me-2 align-middle" data-feather="clock"></i
              ><span class="align-middle"
                >14 Jan 2023 | 20 hours ago</span
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
