<!-- <ng-container *ngFor="let bar of bars"> -->
<div class="card">
  <div class="card-header pb-0">
    <h4>{{ bars.title }}</h4>
    <span [innerHTML]="bars.dace"></span>
  </div>
  <div class="card-body progress-showcase">
    <ng-container *ngFor="let c of bars.bar">
      <div
        class="progress {{ bars.sizeClass }}"
        [ngStyle]="{ height: c.height }"
      >
        <div
          class="progress-bar bg-{{ c.color }}"
          role="progressbar"
          [ngStyle]="{ width: c.style }"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
  </div>
</div>
<!-- </ng-container> -->
