<div class="card">
  <div class="card-header pb-0">
    <div class="d-flex">
      <div class="flex-grow-1">
        <h4>Order Status</h4>
      </div>
      <div class="text-end">
        <i class="text-muted" data-feather="shopping-bag"></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-container">
      <div id="progress1">
        <apx-chart
          [chart]="progress1.chart"
          [plotOptions]="progress1.plotOptions"
          [colors]="progress1.series"
          [stroke]="progress1.stroke"
          [fill]="progress1.fill"
          [series]="progress1.series"
          [title]="progress1.title"
          [subtitle]="progress1.subtitle"
          [xaxis]="progress1.xaxis"
          [yaxis]="progress1.yaxis"
          [tooltip]="progress1.tooltip"
        >
          >
        </apx-chart>
      </div>
      <div id="progress2">
        <apx-chart
          [chart]="progress2.chart"
          [plotOptions]="progress2.plotOptions"
          [colors]="progress2.series"
          [stroke]="progress2.stroke"
          [fill]="progress2.fill"
          [series]="progress2.series"
          [title]="progress2.title"
          [subtitle]="progress2.subtitle"
          [xaxis]="progress2.xaxis"
          [yaxis]="progress2.yaxis"
          [tooltip]="progress2.tooltip"
        >
        </apx-chart>
      </div>
      <div id="progress3">
        <apx-chart
          [chart]="progress3.chart"
          [plotOptions]="progress3.plotOptions"
          [colors]="progress3.series"
          [stroke]="progress3.stroke"
          [fill]="progress3.fill"
          [series]="progress3.series"
          [title]="progress3.title"
          [subtitle]="progress3.subtitle"
          [xaxis]="progress3.xaxis"
          [yaxis]="progress3.yaxis"
          [tooltip]="progress3.tooltip"
        >
        </apx-chart>
      </div>
      <div id="progress4">
        <apx-chart
          [chart]="progress4.chart"
          [plotOptions]="progress4.plotOptions"
          [colors]="progress4.series"
          [stroke]="progress4.stroke"
          [fill]="progress4.fill"
          [series]="progress4.series"
          [title]="progress4.title"
          [subtitle]="progress4.subtitle"
          [xaxis]="progress4.xaxis"
          [yaxis]="progress4.yaxis"
          [tooltip]="progress4.tooltip"
        >
        </apx-chart>
      </div>
      <div id="progress5">
        <apx-chart
          [chart]="progress5.chart"
          [plotOptions]="progress5.plotOptions"
          [colors]="progress5.series"
          [stroke]="progress5.stroke"
          [fill]="progress5.fill"
          [series]="progress5.series"
          [title]="progress5.title"
          [subtitle]="progress5.subtitle"
          [xaxis]="progress5.xaxis"
          [yaxis]="progress5.yaxis"
          [tooltip]="progress5.tooltip"
        >
        </apx-chart>
      </div>
    </div>
  </div>
</div>
