<app-breadcrumb
  [title]="'Typography'"
  [items]="['Ui Kits']"
  [active_item]="'Typography'"
></app-breadcrumb>
<div class="container-fluid typo-graphy">
  <div class="row">
    <div class="col-sm-12">
      <app-heading></app-heading>
    </div>
    <ng-container *ngFor="let typo of typography">
      <div class="col-sm-6 col-xl-4">
        <div class="card">
          <div class="card-header pb-0">
            <h4>{{ typo.title }}</h4>
          </div>
          <div class="card-body typography">
            <h1 class="f-w-{{ typo.class }}">{{ typo.heading1 }}</h1>
            <h2 class="f-w-{{ typo.class }}">{{ typo.heading2 }}</h2>
            <h3 class="f-w-{{ typo.class }}">{{ typo.heading3 }}</h3>
            <h4 class="f-w-{{ typo.class }}">{{ typo.heading4 }}</h4>
            <h5 class="f-w-{{ typo.class }}">{{ typo.heading5 }}</h5>
            <h6 class="f-w-{{ typo.class }}">{{ typo.heading6 }}</h6>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Headings</h4>
          <span
            >Use the included utility classes to recreate the small secondary
            heading text.
          </span>
        </div>
        <div class="card-body typography">
          <h3>
            Fancy display heading<small class="text-muted"
              >With faded secondary text</small
            >
          </h3>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <app-display-headings></app-display-headings>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Lead</h4>
          <span>Make a paragraph stand out by adding <code>.lead</code>.</span>
        </div>
        <div class="card-body">
          <p class="lead">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
            auctor. Duis mollis, est non commodo luctus.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Inline text elements</h4>
          <span>Styling for common inline HTML5 elements.</span>
        </div>
        <div class="card-body">
          <p>You can use the mark tag to <mark>highlight</mark> text.</p>
          <p>
            <del>This line of text is meant to be treated as deleted text.</del>
          </p>
          <p>
            <s
              >This line of text is meant to be treated as no longer
              accurate.</s
            >
          </p>
          <p>
            <ins
              >This line of text is meant to be treated as an addition to the
              document.</ins
            >
          </p>
          <p>
            <u>This line of text will render as underlined</u>
          </p>
          <p>
            <small
              >This line of text is meant to be treated as fine print.</small
            >
          </p>
          <p><strong>This line rendered as bold text.</strong></p>
          <p><em>This line rendered as italicized text.</em></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Text Color</h4>
          <span>You can Give text color by using txt-* class</span>
        </div>
        <div class="card-body">
          <ng-container *ngFor="let color of textColor">
            <p class="{{ color.addClass }}">
              This is {{ color.line }} text You can archive this adding
              <code>.{{ color.addClass }}</code> class
            </p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-sm-12 listing">
      <app-listing-typography></app-listing-typography>
    </div>
    <div class="col-sm-12">
      <app-blockquotes></app-blockquotes>
    </div>
  </div>
</div>
