<app-breadcrumb
  [title]="'Google Chart'"
  [items]="['Charts']"
  [active_item]="'Google Chart'"
></app-breadcrumb>
<div class="container-fluid google-charts">
  <div class="row">
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-area-chart1></app-area-chart1>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-area-chart2></app-area-chart2>
    </div>
    <div class="col-sm-12 box-col-12">
      <app-column-chart1></app-column-chart1>
    </div>

    <div class="col-sm-12 box-col-12">
      <app-line-chart></app-line-chart>
    </div>
    <div class="col-sm-12 box-col-12">
      <app-combo-chart></app-combo-chart>
    </div>
    <div class="col-sm-12 box-col-12">
      <app-bar-chart2></app-bar-chart2>
    </div>
    <div class="col-sm-12 col-xl-4 box-col-6">
      <app-pie-chart1></app-pie-chart1>
    </div>
    <div class="col-sm-12 col-xl-4 box-col-6">
      <app-pie-chart2></app-pie-chart2>
    </div>
    <div class="col-sm-12 col-xl-4 box-col-12">
      <app-pie-chart3></app-pie-chart3>
    </div>
  </div>
</div>
