<div class="card custom-profile">
  <div class="card-body">
    <div class="card-profile">
      <img
        class="user-img"
        src="assets/images/general-widget/user-profile.png"
        alt=""
      />
    </div>
    <div class="text-center profile-details">
      <h4><a href="/users/users-profile">James Martin</a></h4>
      <h6>Manager</h6>
    </div>
    <ul class="card-social">
      <li class="bg-fb">
        <a href="https://www.facebook.com/" data-bs-original-title="" title=""
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
      <li class="bg-gplus">
        <a
          href="https://myaccount.google.com/"
          data-bs-original-title=""
          title=""
          ><i class="fa fa-google-plus"></i
        ></a>
      </li>
      <li class="bg-twitter">
        <a href="https://twitter.com/" data-bs-original-title="" title=""
          ><i class="fa fa-twitter"></i
        ></a>
      </li>
      <li class="bg-insta">
        <a href="https://www.instagram.com/" data-bs-original-title="" title=""
          ><i class="fa fa-instagram"></i
        ></a>
      </li>
      <li class="bg-linkedin">
        <a
          href="https://dashboard.rss.com/auth/sign-in/"
          data-bs-original-title=""
          title=""
          ><i class="fa fa-rss"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-4 col-sm-4">
        <h6>Follower</h6>
        <h5 class="counter">9564</h5>
      </div>
      <div class="col-4 col-sm-4">
        <h6>Following</h6>
        <h5><span class="counter">49</span>K</h5>
      </div>
      <div class="col-4 col-sm-4">
        <h6>Total Post</h6>
        <h5><span class="counter">96</span>M</h5>
      </div>
    </div>
  </div>
</div>
