<app-breadcrumb
  [title]="'Owl Carousel'"
  [items]="['Bonus Ui']"
  [active_item]="'Owl Carousel'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-basic-owl></app-basic-owl>
      <app-responsive-owl></app-responsive-owl>
      <app-center-owl></app-center-owl>
      <app-merge-owl></app-merge-owl>
      <app-auto-width-owl></app-auto-width-owl>
      <app-navigations-owl></app-navigations-owl>
      <app-events-owl></app-events-owl>
      <app-stage-padding-owl></app-stage-padding-owl>
      <app-right-to-left-owl></app-right-to-left-owl>
      <app-lazy-load-owl></app-lazy-load-owl>
      <app-animate-owl></app-animate-owl>
      <app-auto-play-owl></app-auto-play-owl>
      <app-auto-height-owl></app-auto-height-owl>
      <app-mouse-wheel-owl></app-mouse-wheel-owl>
    </div>
  </div>
</div>
