<app-breadcrumb
  [title]="'Contacts'"
  [items]="['Apps']"
  [active_item]="'Contacts'"
></app-breadcrumb>

<div class="container-fluid">
  <div class="email-wrap bookmark-wrap">
    <div class="row">
      <div class="col-xl-3 box-col-30">
        <app-contacts-filter></app-contacts-filter>
      </div>
      <div class="col-xl-9 col-md-12 box-col-8 xl-70 box-col-70">
        <div class="email-right-aside bookmark-tabcontent contacts-tabs">
          <div class="card email-body radius-left">
            <div class="ps-0">
              <div class="tab-content">
                <div
                  class="tab-pane fade active show"
                  id="pills-personal"
                  role="tabpanel"
                  aria-labelledby="pills-personal-tab"
                >
                  <app-personal></app-personal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
