<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Wishlist</h5>
        </div>
        <div class="card-body whishlist-main">
          <div class="row">
            <ng-container *ngFor="let item of listData">
              <div class="col-xl-2 box-col-3 col-md-4 col-sm-6">
                <div class="prooduct-details-box">
                  <div class="media">
                    <a href="ecommerce/product-page"
                      ><img
                        class="align-self-center img-fluid"
                        src="{{ item.img }}"
                        alt="#"
                    /></a>
                    <div class="media-body">
                      <div class="product-name">
                        <a href="ecommerce/product-page">
                          <h6>{{ item.name }}</h6></a
                        >
                      </div>
                      <ngb-rating [rate]="item.rating"></ngb-rating>
                      <div class="price">
                        Price<span>: {{ item.price }}$</span>
                      </div>
                      <div class="avaiabilty">
                        <div class="text-success">{{ item.stock }}</div>
                      </div>
                      <a class="btn btn-primary btn-xs" href="ecommerce/cart"
                        >Move to Cart</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
