<app-breadcrumb
  [title]="'Steps'"
  [items]="['Bonus Ui']"
  [active_item]="'Steps'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-default-step></app-default-step>
    </div>
    <div class="col-sm-12">
      <app-step-icon></app-step-icon>
    </div>
    <div class="col-sm-12">
      <app-step-states></app-step-states>
    </div>
    <div class="col-sm-12">
      <app-step-sizing></app-step-sizing>
    </div>
    <div class="col-sm-12">
      <app-vertical-step></app-vertical-step>
    </div>
    <div class="col-sm-12">
      <app-default-pearls-steps></app-default-pearls-steps>
    </div>
    <div class="col-sm-12">
      <app-pearls-step-icon></app-pearls-step-icon>
    </div>
    <div class="col-sm-12">
      <app-pearls-step-sizing></app-pearls-step-sizing>
    </div>
    <div class="col-sm-12">
      <app-pearls-step-states></app-pearls-step-states>
    </div>
  </div>
</div>
