<div class="header-faq">
  <h4 class="mb-0">Latest articles and videos</h4>
</div>
<div class="row">
  <ng-container *ngFor="let l of articlesAndVideos">
    <div class="col-xl-4 col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <app-feather-icons class="m-r-30" [icon]="l.icon"></app-feather-icons>
                <div class="flex-grow-1">
                  <h6 class="f-w-600">{{ l.title }}</h6>
                  <p>{{ l.desc }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>