<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card">
        <div>
          <div>
            <a class="logo" href="index.html"
              ><img
                class="img-fluid for-light"
                src="assets/images/logo/logo2.png"
                alt="looginpage"
            /></a>
          </div>
          <div class="login-main">
            <form class="theme-form">
              <h4 class="text-center">Sign in to account</h4>
              <p class="text-center">Enter your email & password to login</p>
              <div class="form-group">
                <label class="col-form-label">Email Address</label>
                <input
                  class="form-control"
                  type="email"
                  required=""
                  placeholder="Test@gmail.com"
                />
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <div class="form-input position-relative">
                  <input
                    class="form-control"
                    type="password"
                    name="login[password]"
                    [type]="show ? 'text' : 'password'"
                    required=""
                    placeholder="*********"
                  />
                  <div class="show-hide" (click)="showPassword()" *ngIf="!show">
                    <span class="show"></span>
                  </div>
                  <div class="show-hide" (click)="showPassword()" *ngIf="show">
                    <span class="Hide"></span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox" />
                  <label class="text-muted" for="checkbox1"
                    >Remember password</label
                  >
                </div>
                <a class="link" href="/authentication/forgot-password">Forgot password?</a>
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-block w-100" type="submit">
                    Sign in
                  </button>
                </div>
              </div>
              <div class="login-social-title">
                <h6>Or Sign in with</h6>
              </div>
              <div class="form-group">
                <ul class="login-social">
                  <li>
                    <a href="https://www.linkedin.com" target="_blank"
                      ><app-feather-icons
                        [icon]="'linkedin'"
                      ></app-feather-icons
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com" target="_blank"
                      ><app-feather-icons [icon]="'twitter'"></app-feather-icons
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com" target="_blank"
                      ><app-feather-icons
                        [icon]="'facebook'"
                      ></app-feather-icons
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com" target="_blank"
                      ><app-feather-icons
                        [icon]="'instagram'"
                      ></app-feather-icons
                    ></a>
                  </li>
                </ul>
              </div>
              <p class="mt-4 mb-0 text-center">
                Don't have account?<a
                  class="ms-2"
                  [routerLink]="'/authentication/register/register-simple'"
                  >Create Account</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
