<span class="f-w-600">Application</span
><span><i class="middle" data-feather="chevron-down"></i></span>
<ul class="onhover-show-div left-dropdown">
  <li class="flyout-right">
    <a href="javascript:void(0)">Project</a>
    <ul>
      <li><a routerLink="/project/project-list">Project List</a></li>
      <li><a routerLink="/project/create-new">Project Create</a></li>
    </ul>
  </li>
  <li><a routerLink="/file-manager">File Manager</a></li>
  <li class="flyout-right">
    <a href="javascript:void(0)">Ecommerce</a>
    <ul>
      <li><a routerLink="/e-commerce/product">Product</a></li>
      <li><a routerLink="/e-commerce/product-page">Product Page</a></li>
      <li><a routerLink="/e-commerce/product-list">Product List</a></li>
      <li><a routerLink="/e-commerce/payment-details">Payment Details</a></li>
      <li><a routerLink="/e-commerce/order-history">Order History</a></li>
      <li><a routerLink="/e-commerce/invoice">Invoice</a></li>
      <li><a routerLink="/e-commerce/cart">Cart</a></li>
      <li><a routerLink="/e-commerce/checkout">Checkout</a></li>
      <li><a routerLink="/e-commerce/pricing">Pricing </a></li>
    </ul>
  </li>
  <li class="flyout-right">
    <a href="javascript:void(0)">Email</a>
    <ul>
      <li><a routerLink="/email/email-app">Mail Inbox</a></li>
      <li><a routerLink="/email/read-mail">Read Mail</a></li>
      <li><a routerLink="/email/email-compose">Compose</a></li>
    </ul>
  </li>
  <li class="flyout-right">
    <a href="javascript:void(0)">Chat</a>
    <ul>
      <li><a routerLink="/chat/chat-app">Chat App</a></li>
      <li><a routerLink="/chat/video-chat">Video Chat</a></li>
    </ul>
  </li>
  <li class="flyout-right">
    <a href="javascript:void(0)">Users</a>
    <ul>
      <li><a routerLink="/users/users-profile">User Profile</a></li>
      <li><a routerLink="/users/users-edit">Users Edit</a></li>
      <li><a routerLink="/users/users-cards">User Cards</a></li>
    </ul>
  </li>
  <li><a routerLink="/bookmark">Bookmarks</a></li>
  <li><a routerLink="/contacts">Contacts</a></li>
  <li><a routerLink="/social-app">Social App</a></li>
</ul>
