<div class="card use-country">
  <div class="card-header pb-0">
    <div class="d-flex justify-content-between">
      <div class="flex-grow-1">
        <p class="square-after f-w-600 header-text-primary">
          User By Country<i class="fa fa-circle"> </i>
        </p>
        <h4>96.564%</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="jvector-map-height" id="asia" leaflet [leafletOptions]="options1">
      <div class="map-height" leaflet [leafletOptions]="options1"></div>
    </div>
  </div>
</div>