<app-breadcrumb
  [title]="'Leaflet Map'"
  [items]="['Maps']"
  [active_item]="'Leaflet Map'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row leaflet-custom">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Simple Map</h4>
        </div>
        <div class="card-body">
          <div class="map-height" leaflet [leafletOptions]="options1"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Map with specify layer</h4>
        </div>
        <div class="card-body">
          <div
            class="map-height"
            leaflet
            [leafletOptions]="options2"
            [leafletLayersControl]="layersControl"
          ></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Map with polygon</h4>
        </div>
        <div class="card-body">
          <div class="map-height" leaflet [leafletOptions]="options3"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Map with Marker</h4>
        </div>
        <div class="card-body">
          <div
            class="map-height"
            leaflet
            [leafletOptions]="options4"
            (leafletMapReady)="onMapReady4($event)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
