<app-breadcrumb [title]="'Job Details'" [items]="['Job Search']" [active_item]="'Job Details'"></app-breadcrumb>
<div class="container-fluid job-cardview">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 box-col-30">
      <app-job-filter></app-job-filter>
    </div>
    <div class="col-xxl-9 col-xl-8 box-col-8">
      <div class="card">
        <app-job-apply></app-job-apply>
      </div>
      <div class="header-faq">
        <h4 class="mb-0 f-w-600">Similar jobs</h4>
      </div>
      <div class="row">
        <ng-container *ngFor="let job of jobCards">
          <div class="col-xl-6 xl-100 box-col-12">
            <div class="card">
              <div class="job-search">
                <div class="card-body">
                  <div class="d-sm-flex align-items-start">
                    <img class="img-40 img-fluid m-r-20" *ngIf="job.iconImg" src="{{ job.iconImg }}" alt="" />
                    <div class="flex-grow-1">
                      <h6 class="f-w-700">
                        <a routerLink="'/job-search/list-view'">{{
                          job.title
                          }}</a><span class="badge badge-primary pull-right" *ngIf="job.NewTag == 'New'">{{ job.NewTag
                          }}</span>
                      </h6>
                      <p>{{ job.subTitle }}</p>&nbsp;
                      <ngb-rating [rate]="job?.rating"></ngb-rating>
                    </div>
                  </div>
                  <p class="mb-0">{{ job.para }}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col-xl-12">
          <div class="card">
            <div class="job-search">
              <div class="card-body">
                <div class="d-sm-flex align-items-start">
                  <img class="img-40 img-fluid m-r-20" src="assets/images/job-search/3.jpg" alt="" />
                  <div class="flex-grow-1">
                    <h6 class="f-w-700">
                      <a href="javascript:void(0)">Senior UX designer</a><span class="pull-right">5 days ago</span>
                    </h6>
                    <p>Sutherland <span>Lelystad, Netherlands </span></p>&nbsp;
                    <ngb-rating [rate]="3"></ngb-rating>
                  </div>
                </div>
                <p class="mb-0">
                  Woody equal ask saw sir weeks aware decay. Entrance prospect
                  removing we packages strictly is no smallest he. For hopes may
                  chief get hours day rooms. Oh no turned behind polite piqued
                  enough at. Forbade few through inquiry blushes you. Cousin no
                  itself eldest it in dinner latter missed no.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>