<app-breadcrumb
  [title]="'User Profile'"
  [items]="['Users']"
  [active_item]="'Users Profile'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-sm-12">
        <app-user-profile></app-user-profile>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5 xl-35 box-col-40">
        <app-left-content></app-left-content>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7 xl-65 box-col-60">
        <app-right-content></app-right-content>
      </div>
    </div>
  </div>
</div>
