<app-breadcrumb
  [title]="'To-Do'"
  [items]="['Apps']"
  [active_item]="'To-Do'"
></app-breadcrumb>

<div class="container-fluid email-wrap bookmark-wrap todo-wrap">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 box-col-30">
      <app-to-do-filter></app-to-do-filter>
    </div>
    <div class="col-xxl-9 col-xl-8 box-col-70">
      <div class="card">
        <div class="card-header b-bottom">
          <div class="todo-list-header">
            <div
              class="new-task-wrapper input-group"
              [ngClass]="{ visible: visible }"
            >
              <input
                class="form-control"
                id="new-task"
                placeholder="Enter new task here. . ."
                [(ngModel)]="text"
                [class.border-danger]="red_border"
              /><span
                class="btn btn-primary d-flex input-group-text add-new-task-btn"
                id="add-task"
                (click)="
                  addTask({
                    text: text,
                    Date: myDate,
                    priority: 'Pending',
                    badgeClass: 'badge-light-danger',
                    completed: false
                  })
                "
                >Add Task</span
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="todo">
            <div class="todo-list-wrapper theme-scrollbar">
              <div class="todo-list-container">
                <div class="todo-list-body">
                  <ul id="todo-list">
                    <li
                      class="task"
                      [ngClass]="{ completed: todo.completed }"

                      *ngFor="let todo of todos; let i = index"
                      (click)="toggleCompleted(todo)"

                    >
                      <div class="task-container">
                        <h4 class="task-label">
                          {{ todo.text }}
                        </h4>
                        <div class="d-flex align-items-center gap-3">
                          <span
                            class="badge badge-light-primary done-badge {{
                              todo.badgeClass
                            }}"
                            >{{ todo.priority }}</span
                          >
                          <h5 class="assign-name m-0">{{ todo.Date }}</h5>
                          <span class="task-action-btn"
                            ><span
                              class="action-box large delete-btn"
                              title="Delete Task"
                              routerLink="/to-do"
                              (click)="taskDeleted(i)"
                              ><i class="icon"
                                ><i class="icon-trash"></i></i></span
                          ></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="notification-popup hide">
              <p>
                <span class="task"></span
                ><span class="notification-text"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
