<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header pb-0">
        <h4>Dropdown With Header</h4><span>Use a class <code>.dropdown-header</code></span>
      </div>
      <div class="card-body"> 
        <div class="dropdown-basic">
          <div class="dropdown">
            <button class="dropbtn btn-pill btn-primary" type="button">Dropdown Button <span><i class="icofont icofont-arrow-down"></i></span></button>
            <div class="dropdown-content">
              <h5 class="dropdown-header">Dropdown header</h5><a href="#">Link 1</a><a href="#">Link 2</a>
              <h5 class="dropdown-header">Dropdown header</h5><a href="#">Another Link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header pb-0">
        <h4>Dropdown With Disable</h4><span>Use a class <code>.dropdown-disabled</code></span>
      </div>
      <div class="card-body"> 
        <div class="dropup-basic dropdown-basic">
          <div class="dropup dropdown">
            <button class="dropbtn btn-pill btn-dark" type="button">Dropdown Button <span><i class="icofont icofont-arrow-up"></i></span></button>
            <div class="dropup-content dropdown-content"><a href="#">Normal</a><a class="active" href="#">Active</a><a class="disabled" href="#">Disabled</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>