<app-breadcrumb
  [title]="'Mega Options'"
  [items]="['Form Controls']"
  [active_item]="'Mega Options'"
></app-breadcrumb>
<div class="container-fluid mega-options">
  <div class="row">
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-default-style></app-default-style>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-no-border></app-no-border>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-solid-border-style></app-solid-border-style>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-offer-border-style></app-offer-border-style>
    </div>
    <div class="col-sm-12">
      <app-inline-style></app-inline-style>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-vertical-style></app-vertical-style>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-horizontal></app-horizontal>
    </div>
  </div>
</div>
