<i data-feather="message-square"></i>

<ul class="message-dropdown onhover-show-div">
  <li>
    <i data-feather="message-square"></i>
    <h6 class="f-18 mb-0">Messages</h6>
  </li>
  <li>
    <div class="d-flex align-items-start">
      <div class="message-img bg-light-primary">
        <img src="assets/images/user/3.jpg" alt="" />
      </div>
      <div class="flex-grow-1">
        <h5 class="mb-1">
          <a routerLink="/chat/chat-app">Emay Walter</a>
        </h5>
        <p>Do you want to go see movie?</p>
      </div>
      <div class="notification-right">
        <i data-feather="x"></i>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-start">
      <div class="message-img bg-light-primary">
        <img src="assets/images/user/6.jpg" alt="" />
      </div>
      <div class="flex-grow-1">
        <h5 class="mb-1">
          <a routerLink="/chat/chat-app">Jason Borne</a>
        </h5>
        <p>Thank you for rating us.</p>
      </div>
      <div class="notification-right">
        <i data-feather="x"></i>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-start">
      <div class="message-img bg-light-primary">
        <img src="assets/images/user/10.jpg" alt="" />
      </div>
      <div class="flex-grow-1">
        <h5 class="mb-1">
          <a routerLink="/chat/chat-app">Sarah Loren</a>
        </h5>
        <p>What`s the project report update?</p>
      </div>
      <div class="notification-right">
        <i data-feather="x"></i>
      </div>
    </div>
  </li>
  <li>
    <a class="btn btn-primary" routerLink="/email/email-app">Check Messages</a>
  </li>
</ul>
