<div class="job-search">
  <div class="card-body">
    <div class="d-sm-flex align-items-start">
      <img class="img-40 img-fluid m-r-20" src="assets/images/job-search/1.jpg" alt="" />
      <div class="flex-grow-1">
        <h6 class="f-w-600">
          <a href="javascript:void(0)">Product Designer (UI/UX Designer) </a>
        </h6>
        <p>Tivo - United States</p>
        <ul class="rating">
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning mx-1"></i></li>
          <li><i class="fa fa-star font-warning"></i></li>
          <li><i class="fa fa-star font-warning mx-1"></i></li>
          <li><i class="fa fa-star font-warning"> </i></li>
        </ul>
        <a class="btn btn-primary btn-sm job-apply-btn" href="job-search/apply">Apply for this job</a>
      </div>
    </div>
    <div class="job-description" *ngFor="let d of description">
      <h6>Job Description</h6>
      <p class="text-start">{{ d.desc }}</p>
    </div>
    <div class="job-description">
      <h6>Qualifications</h6>
      <ul>
        <ng-container *ngFor="let p of qualifications">
          <li>{{ p.point }}</li>
        </ng-container>
      </ul>
    </div>
    <div class="job-description">
      <h6>Agency experience</h6>
      <ul>
        <ng-container *ngFor="let p of agencyExperience">
          <li>{{ p.point }}</li>
        </ng-container>
      </ul>
    </div>
    <div class="job-description">
      <h6>Perks</h6>
      <ul>
        <ng-container *ngFor="let p of perks">
          <li>{{ p.point }}</li>
        </ng-container>
      </ul>
    </div>
    <div class="job-description">
      <button class="btn btn-primary" type="button">
        <span><i class="fa fa-check"></i></span> Save this job
      </button>
      <button class="btn btn-primary ms-2" type="button">
        <span><i class="fa fa-share-alt"></i></span> Share
      </button>
    </div>
  </div>
</div>