<div
  class="default-according style-1 faq-accordion job-accordion"
  id="accordionoc4"
>
  <div class="row">
    <div class="col-xl-12">
      <app-my-profile></app-my-profile>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <img
          class="img-fluid"
          alt=""
          src="assets/images/social-app/timeline-3.png"
        />
      </div>
    </div>
    <div class="col-md-12 col-sm-6">
      <app-mutual-friend></app-mutual-friend>
    </div>
    <div class="col-md-12 col-sm-6">
      <app-activity-feed></app-activity-feed>
    </div>
  </div>
</div>
