<div class="card {{data.card}}-card">
  <div class="card-header pb-0">
    <div class="d-flex justify-content-between">
      <div class="flex-grow-1">
        <p class="square-after f-w-600 header-text-{{ data.color }}">
          {{ data.title }}<i class="fa fa-circle"></i>
        </p>
        <h4>{{ data.sale }}</h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex">
      <div class="flex-grow-1">
        <div class="profit-wrapper header-text-{{ data.color }} icon-bg-{{ data.color }}">
          <i class="fa fa-arrow-up"></i>
        </div>
        <h6 class="header-text-{{ data.color }}">{{ data.percent }}</h6>
        <p class="mb-0">{{ data.caption }}</p>
      </div>
    </div>
    <div class="right-side icon-right-{{ data.color }}">
      <i class="fa fa-{{ data.icon }}"></i>
      <div class="shap-block">
        <div class="rounded-shap animate-bg-primary"><i></i><i></i></div>
      </div>
    </div>
  </div>
</div>
