<app-breadcrumb
  [title]="'According'"
  [items]="['Ui Kits']"
  [active_item]="'According'"
></app-breadcrumb>
<div class="container-fluid accordian-page">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <app-basic-accordion></app-basic-accordion>
    </div>
    <div class="col-sm-12 col-lg-6">
      <app-all-close-accordion></app-all-close-accordion>
    </div>
    <div class="col-sm-12 col-lg-6">
      <app-color-accordion></app-color-accordion>
    </div>
    <div class="col-sm-12 col-lg-6">
      <app-color-accordion></app-color-accordion>
    </div>
    <div class="col-sm-12 col-lg-6">
      <app-according-title-icon></app-according-title-icon>
    </div>
    <div class="col-sm-12 col-lg-6">
      <app-icon-open-close-icon></app-icon-open-close-icon>
    </div>
  </div>
</div>
