<div class="table-responsive theme-scrollbar support-table data-table">
    <form>
      <div class="mb-3 row">
        <label
          for="table-complete-search"
          class="col-xs-3 col-sm-auto col-form-label"
          >Search:</label
        >
        <div class="col-xs-3 col-sm-auto">
          <input
            id="table-complete-search"
            type="text"
            class="form-control"
            name="searchTerm"
            [(ngModel)]="service.searchTerm"
          />
        </div>
        <span class="col col-form-label" *ngIf="service.loading$ | async"
          >Loading...</span
        >
      </div>
  
      <table class="table table-striped table-border-vertical border">
        <thead>
          <tr>
            <th scope="col" sortable="name">Name</th>
            <th scope="col" sortable="position">Position</th>
            <th scope="col" sortable="salary">Salary</th>
            <th scope="col" sortable="office">Office</th>
            <th scope="col" sortable="skill">Skill</th>
            <th scope="col" sortable="extn">Extend</th>
            <th scope="col" sortable="email">Email</th>
            <th scope="col" sortable="exp">Experience</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
        <tbody>
          <tr *ngFor="let country of countries$ | async">
            <td scope="row">
              <div class="d-flex align-items-center">
                <img class="rounded-circle img-30 me-3" [src]="country.img" />
                <div class="flex-grow-1 align-self-center">
                  <div>{{ country.name }}</div>
                </div>
              </div>
            </td>
            <td>{{ country.position }}</td>
            <td>{{ country.salary }}</td>
            <td>{{ country.office }}</td>
            <td>
              <div class="progress-showcase">
                <div class="progress sm-progress-bar">
                  <div
                    [ngClass]="country.skill"
                    [ngStyle]="{ width: country.progress }"
                    role="progressbar"
                  ></div>
                </div>
              </div>
            </td>
            <td>{{ country.extn | number }}</td>
            <td>{{ country.email }}</td>
            <td>{{ country.exp }}</td>
            <td>
              <span>
                <i class="fa fa-eye font-primary pe-2"></i>
                <span (click)="deleteTicket(country.id)">
                  <i class="icofont icofont-close-circled font-danger"></i>
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="d-flex justify-content-between py-2 support-table-footer">
    <select
      class="form-select pe-4"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="service.pageSize"
    >
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="10">100 items per page</option>
    </select>
    <ngb-pagination
      class="pagination-primary"
      [collectionSize]="(total$ | async)!"
      [(page)]="service.page"
      [pageSize]="service.pageSize">
    </ngb-pagination>
  </div>