<div class="card">
  <div class="card-body">
    <div class="pro-group pt-0 border-0">
      <div class="product-page-details mt-0">
        <h3>Women Pink shirt.</h3>
        <div class="pro-review">
          <div class="d-flex">
            <ngb-rating [rate]="rating"></ngb-rating>
            <span>(250 review)</span>
          </div>
        </div>
      </div>
      <div class="product-price">
        $26.00
        <del>$350.00 </del>
      </div>
      <div class="color-selector">
        <ul class="d-flex gap-1">
          <li class="active white"></li>
          <li class="bg-primary"></li>
          <li class="bg-secondary"></li>
          <li class="bg-success"></li>
          <li class="bg-warning"></li>
          <li class="bg-danger"></li>
        </ul>
      </div>
      <a class="btn btn-secondary mt-0" routerLink="/e-commerce/cart"
        ><i class="fa fa-shopping-cart me-2"></i>Buy Now</a
      >
    </div>
    <div class="pro-group">
      <p>
        Rock Paper Scissors Various Dots Half Sleeves Girl’s Regular Fit T-Shirt
        I 100% Cotton T Shirt with Half Sleeve Round Neck I Regular Wear Solid
        Kids Tees and Black Sleeve.
      </p>
    </div>
    <div class="pro-group">
      <div class="row">
        <div class="col-md-6">
          <table>
            <tbody>
              <tr>
                <td><b>Availability &nbsp;: &nbsp;</b></td>
                <td class="txt-success">In stock</td>
              </tr>
              <tr>
                <td>
                  <b
                    >Brand
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b
                  >
                </td>
                <td>Pixelstrap</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table>
            <tbody>
              <tr>
                <td>
                  <b
                    >Seller &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b
                  >
                </td>
                <td>ABC</td>
              </tr>
              <tr>
                <td>
                  <b
                    >Fabric &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;:
                    &nbsp;&nbsp;&nbsp;</b
                  >
                </td>
                <td>Cotton</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pro-group">
      <div class="row">
        <div class="col-md-4 xl-50 box-col-50">
          <h6 class="product-title">share it</h6>
        </div>
        <div class="col-md-7 xl-50 box-col-50">
          <div class="product-icon">
            <ul class="product-social">
              <li class="d-inline-block">
                <a href="https://www.facebook.com" target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li class="d-inline-block">
                <a href="https://www.google.com/" target="_blank"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
              <li class="d-inline-block">
                <a href="https://twitter.com/" target="_blank"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li class="d-inline-block">
                <a href="https://www.instagram.com/" target="_blank"
                  ><i class="fa fa-instagram"> </i
                ></a>
              </li>
            </ul>
            <form class="d-inline-block f-right"></form>
          </div>
        </div>
      </div>
    </div>
    <div class="pro-group pb-0">
      <div class="pro-shop">
        <a class="btn btn-primary m-r-10" routerLink="/e-commerce/cart">
          <i class="fa fa-shopping-basket me-2"></i>Add To Cart</a
        ><a class="btn btn-danger"
          ><i class="fa fa-heart me-2"></i>Add To WishList
        </a>
      </div>
    </div>
  </div>
</div>
