<app-breadcrumb
  [title]="'Project List'"
  [items]="['Project']"
  [active_item]="'Project List'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row project-cards">
    <div class="col-md-12 project-list">
      <div class="card">
        <div class="row">
          <div class="col-md-6 p-0 d-flex">
            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'All' }"
                  (click)="tabbed('All')"
                  ><i data-feather="target"></i>All</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Doing' }"
                  (click)="tabbed('Doing')"
                  ><i data-feather="info"></i>Doing</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active show': openTab == 'Done' }"
                  (click)="tabbed('Done')"
                  ><i data-feather="check-circle"></i>Done</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-6 p-0">
            <div class="form-group mb-0 me-0"></div>
            <a class="btn btn-primary" [routerLink]="['/project/create-new']">
              <i data-feather="plus-square"> </i>Create New Project</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="tab-content" id="top-tabContent">
            <div
              class="tab-pane fade show active"
              id="top-home"
              role="tabpanel"
              aria-labelledby="top-home-tab"
            >
              <div class="row">
                <ng-container *ngFor="let item of filterData">
                  <div class="col-xxl-4 col-lg-4 box-col-33 col-md-6">
                    <div class="project-box">
                      <span
                        class="badge"
                        [ngClass]="
                          item.badge === 'Doing'
                            ? ' badge-primary'
                            : 'badge-secondary'
                        "
                        >{{ item.badge }}</span
                      >
                      <h6>{{ item.title }}</h6>
                      <div class="d-flex">
                        <img
                          class="img-20 me-2 rounded-circle"
                          src="{{ item.img }}"
                          alt=""
                          data-original-title=""
                          title=""
                        />
                        <div class="flex-grow-1">
                          <p class="mb-0">{{ item.sites }}</p>
                        </div>
                      </div>
                      <p>{{ item.desc }}</p>
                      <div class="row details">
                        <div class="col-6"><span>Issues </span></div>
                        <div
                          class="col-6"
                          [ngClass]="
                            item.badge === 'Doing'
                              ? 'font-primary'
                              : 'font-secondary'
                          "
                        >
                          {{ item.issue }}
                        </div>
                        <div class="col-6"><span>Resolved</span></div>
                        <div
                          class="col-6"
                          [ngClass]="
                            item.badge === 'Doing'
                              ? 'font-primary'
                              : 'font-secondary'
                          "
                        >
                          {{ item.resolved }}
                        </div>
                        <div class="col-6"><span>Comment</span></div>
                        <div
                          class="col-6"
                          [ngClass]="
                            item.badge === 'Doing'
                              ? 'font-primary'
                              : 'font-secondary'
                          "
                        >
                          {{ item.comment }}
                        </div>
                      </div>
                      <div class="customers">
                        <ul>
                          <li class="d-inline-block">
                            <img
                              class="img-30 rounded-circle"
                              src="{{ item.customers_img1 }}"
                              alt=""
                              data-original-title=""
                              title=""
                            />
                          </li>
                          <li class="d-inline-block">
                            <img
                              class="img-30 rounded-circle"
                              src="{{ item.customers_img2 }}"
                              alt=""
                              data-original-title=""
                              title=""
                            />
                          </li>
                          <li class="d-inline-block">
                            <img
                              class="img-30 rounded-circle"
                              src="{{ item.customers_img3 }}"
                              alt=""
                              data-original-title=""
                              title=""
                            />
                          </li>
                          <li class="d-inline-block ms-2">
                            <p class="f-12">+10 More</p>
                          </li>
                        </ul>
                      </div>
                      <div class="project-status mt-4">
                        <div class="media mb-0">
                          <p>{{ item.projectLaval }}</p>
                          <div class="media-body text-end">
                            <span>Done</span>
                          </div>
                        </div>
                        <div class="progress" style="height: 5px">
                          <div
                            class="progress-bar-animated progress-bar-striped"
                            [ngClass]="
                              item.badge === 'Doing'
                                ? '  bg-primary'
                                : 'bg-secondary'
                            "
                            role="progressbar"
                            [style.width]="item.projectLaval"
                            aria-valuenow="10"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
