<app-breadcrumb [title]="'Apex Chart'" [items]="['Charts']" [active_item]="'Apex Chart'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Basic Area Chart</h4>
        </div>
        <app-basic-area></app-basic-area>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Area Spaline Chart</h4>
        </div>
        <app-area-spaline></app-area-spaline>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Bar chart</h4>
        </div>
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-column-chart2></app-column-chart2>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>3d Bubble Chart</h4>
        </div>
        <app-bubble-chart></app-bubble-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Stepline Chart</h4>
        </div>
        <app-stepline-chart></app-stepline-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Column Chart</h4>
        </div>
        <app-column-chart></app-column-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Pie Chart</h4>
        </div>
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Donut Chart</h4>
        </div>
        <app-donutt-chart></app-donutt-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Mixed Chart</h4>
        </div>
        <app-mixed-chart></app-mixed-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Candlestick Chart</h4>
        </div>
        <app-candlestick-chart></app-candlestick-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Radar Chart</h4>
        </div>
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h4>Radial Bar Chart</h4>
        </div>
        <app-radial-bar-chart></app-radial-bar-chart>
      </div>
    </div>
  </div>
</div>