<div class="card">
  <div class="card-header pb-0">
    <h4>Alert With Icon inverse</h4>
    <span
      >Use the <code>.inverse</code> class to quickly provide matching colored
      links within any alert</span
    >
  </div>
  <div class="card-body">
    <ng-container *ngFor="let a of data">
      <div
        class="alert alert-{{ a.color }} inverse alert-dismissible fade show"
        role="alert"
      >
        <app-feather-icons [icon]="a.icon"></app-feather-icons>
        <p>Your time Over after <b>5</b> miniute</p>
        <button
          class="btn-close"
          type="button"
          (click)="deleteMsg(a.id)"
        ></button>
      </div>
    </ng-container>
  </div>
</div>
