<div class="card">
  <div class="card-header pb-0">
    <h4>JavaScript behavior</h4>
  </div>
  <div class="card-body vertical-tab">
    <ul
      ngbNav
      #nav3="ngbNav"
      [activeId]="1"
      orientation="vertical"
      class="nav-tabs"
    >
      <li [ngbNavItem]="1">
        <a ngbNavLink class="list-group-item list-group-item-action">Home</a>
        <ng-template ngbNavContent>
          <p>
            1. Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="list-group-item list-group-item-action">Profile</a>
        <ng-template ngbNavContent>
          <p>
            2. Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink class="list-group-item list-group-item-action">Inbox</a>
        <ng-template ngbNavContent>
          <p>
            3. Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum
          </p>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink class="list-group-item list-group-item-action">Setting</a>
        <ng-template ngbNavContent>
          <p>
            4. Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum
          </p>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav3"></div>
  </div>
</div>
