<div class="card">
  <div class="card-header pb-0">
    <h4 class="card-title">Full Colored Variant</h4>
  </div>
  <div class="card-body">
    <ng-container *ngFor="let color of colors">
      <div class="mb-3">
        <label class="col-form-label">{{ color | titlecase }} Select</label>
        <select
          class="form-control form-control-{{ color }}-fill btn-square"
          name="select"
        >
          <option value="opt1">Select One Value Only</option>
          <option value="opt2">Type 2</option>
          <option value="opt3">Type 3</option>
          <option value="opt4">Type 4</option>
          <option value="opt5">Type 5</option>
          <option value="opt6">Type 6</option>
          <option value="opt7">Type 7</option>
          <option value="opt8">Type 8</option>
        </select>
      </div>
    </ng-container>
  </div>
</div>
