<ul class="notification-dropdown onhover-show-div">
  <li>
    <i data-feather="bell"> </i>
    <h6 class="f-18 mb-0">Notitications</h6>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0"><i data-feather="truck"></i></div>
      <div class="flex-grow-1">
        <p>
          <a routerLink="/e-commerce/order-history">Delivery processing </a
          ><span class="pull-right">6 hr</span>
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <i data-feather="shopping-cart"></i>
      </div>
      <div class="flex-grow-1">
        <p>
          <a routerLink="/e-commerce/cart">Order Complete</a
          ><span class="pull-right">3 hr</span>
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0"><i data-feather="file-text"></i></div>
      <div class="flex-grow-1">
        <p>
          <a routerLink="/e-commerce/invoice">Tickets Generated</a
          ><span class="pull-right">1 hr</span>
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0"><i data-feather="send"></i></div>
      <div class="flex-grow-1">
        <p>
          <a routerLink="/email/email-app">Delivery Complete</a
          ><span class="pull-right">45 min</span>
        </p>
      </div>
    </div>
  </li>
  <li>
    <a class="btn btn-primary" href="/email/email-app">Check all notification</a>
  </li>
</ul>
