<div class="card">
  <div class="card-header">
    <h5 class="p-0">
      <button
        class="btn btn-link ps-0"
        aria-expanded="true"
        aria-controls="collapseicon13"
        (click)="isProfile = !isProfile"
        [attr.aria-expanded]="!isProfile"
      >
        Friends
      </button>
    </h5>
  </div>
  <div
    class="collapse show"
    id="collapseicon13"
    [ngbCollapse]="isProfile"
    data-parent="#accordion"
    aria-labelledby="collapseicon13"
  >
    <div class="card-body avatar-showcase filter-cards-view">
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/3.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/5.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/1.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/2.png"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/3.png"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/6.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/10.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/14.png"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/1.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/4.jpg"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/11.png"
          alt="javascript:void(0)"
        />
      </div>
      <div class="d-inline-block friend-pic">
        <img
          class="img-50 rounded-circle"
          src="assets/images/user/8.jpg"
          alt="javascript:void(0)"
        />
      </div>
    </div>
  </div>
</div>
