<div class="left-filter">
  <div class="card-body filter-cards-view animate-chk">
    <div class="product-filter">
      <h6 class="f-w-600">Category</h6>
      <div class="checkbox-animated mt-0">
        <label class="d-block" for="edo-ani5">
          <input
            class="checkbox_animated"
            id="edo-ani5"
            type="checkbox"
            data-original-title=""
            title=""
          />Man Shirt
        </label>
        <label class="d-block" for="edo-ani6">
          <input
            class="checkbox_animated"
            id="edo-ani6"
            type="checkbox"
            data-original-title=""
            title=""
          />Man Jeans
        </label>
        <label class="d-block" for="edo-ani7">
          <input
            class="checkbox_animated"
            id="edo-ani7"
            type="checkbox"
            data-original-title=""
            title=""
          />Woman Top
        </label>
        <label class="d-block" for="edo-ani8">
          <input
            class="checkbox_animated"
            id="edo-ani8"
            type="checkbox"
            data-original-title=""
            title=""
          />Woman Jeans
        </label>
        <label class="d-block" for="edo-ani9">
          <input
            class="checkbox_animated"
            id="edo-ani9"
            type="checkbox"
            data-original-title=""
            title=""
          />Man T-shirt
        </label>
      </div>
    </div>
    <div class="product-filter">
      <h6 class="f-w-600">Brand</h6>
      <div class="checkbox-animated mt-0">
        <label class="d-block" for="chk-ani">
          <input
            class="checkbox_animated"
            id="chk-ani"
            type="checkbox"
            data-original-title=""
            title=""
          />
          Levi's
        </label>
        <label class="d-block" for="chk-ani1">
          <input
            class="checkbox_animated"
            id="chk-ani1"
            type="checkbox"
            data-original-title=""
            title=""
          />Diesel
        </label>
        <label class="d-block" for="chk-ani2">
          <input
            class="checkbox_animated"
            id="chk-ani2"
            type="checkbox"
            data-original-title=""
            title=""
          />Lee
        </label>
        <label class="d-block" for="chk-ani3">
          <input
            class="checkbox_animated"
            id="chk-ani3"
            type="checkbox"
            data-original-title=""
            title=""
          />Hudson
        </label>
        <label class="d-block" for="chk-ani4">
          <input
            class="checkbox_animated"
            id="chk-ani4"
            type="checkbox"
            data-original-title=""
            title=""
          />Denizen
        </label>
        <label class="d-block" for="chk-ani5">
          <input
            class="checkbox_animated"
            id="chk-ani5"
            type="checkbox"
            data-original-title=""
            title=""
          />Spykar
        </label>
      </div>
    </div>
    <div class="product-filter slider-product">
      <h6 class="f-w-600">Colors</h6>
      <div class="color-selector">
        <ul class="d-flex gap-1">
          <li class="active white"></li>
          <li class="bg-primary"></li>
          <li class="bg-secondary"></li>
          <li class="bg-success"></li>
          <li class="bg-warning"></li>
          <li class="bg-danger"></li>
          <li class="blue"></li>
          <li class="red"></li>
        </ul>
      </div>
    </div>
    <div class="product-filter pb-0">
      <h6 class="f-w-600">Price</h6>
      <ngx-slider
        [(value)]="value2"
        [(highValue)]="maxvalue"
        [options]="options"
      ></ngx-slider>
      <h6 class="f-w-600">New Products</h6>
    </div>
    <div class="product-filter pb-0 new-products">
      <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let item of products" carouselSlide>
          <div class="item">
            <div class="product-box">
              <div class="d-flex">
                <div class="product-img me-3">
                  <img
                    class="img-fluid"
                    src="{{ item.image }}"
                    alt=""
                    data-original-title=""
                    title=""
                  />
                </div>
                <div class="flex-grow-1">
                  <div class="product-details">
                    <div>
                      <ul>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                      </ul>
                      <p class="mb-0 f-w-700">{{ item.name }}</p>
                      <div class="f-w-500">{{ item.price }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="d-flex">
                <div class="product-img me-3">
                  <img
                    class="img-fluid"
                    src="{{ item.image }}"
                    alt=""
                    data-original-title=""
                    title=""
                  />
                </div>
                <div class="flex-grow-1">
                  <div class="product-details">
                    <div>
                      <ul>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                      </ul>
                      <p class="mb-0 f-w-700">{{ item.name }}</p>
                      <div class="f-w-500">{{ item.price }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-box">
              <div class="d-flex">
                <div class="product-img me-3">
                  <img
                    class="img-fluid"
                    src="{{ item.image }}"
                    alt=""
                    data-original-title=""
                    title=""
                  />
                </div>
                <div class="flex-grow-1">
                  <div class="product-details">
                    <div>
                      <ul>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                        <li>
                          <i class="fa fa-star font-warning"></i>
                        </li>
                      </ul>
                      <p class="mb-0 f-w-700">{{ item.name }}</p>
                      <div class="f-w-500">{{ item.price }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="product-filter text-center">
      <img
        class="img-fluid banner-product"
        src="assets/images/ecommerce/banner.jpg"
        alt=""
        data-original-title=""
        title=""
      />
    </div>
  </div>
</div>
