<app-breadcrumb
  [title]="'Alert'"
  [items]="['Ui Kits']"
  [active_item]="'Alert'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-color-alerts [alert]="colorAlert"></app-color-alerts>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-color-alerts [alert]="colorAlertLight"></app-color-alerts>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-alert-with-icon></app-alert-with-icon>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-link-theme-color></app-link-theme-color>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-dismissing></app-dismissing>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-link-color></app-link-color>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-dismissing-light></app-dismissing-light>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-outline-alerts></app-outline-alerts>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-outline-dark-alerts></app-outline-dark-alerts>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-alert-icon-outline></app-alert-icon-outline>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-alert-icon-inverse></app-alert-icon-inverse>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-text-as-action></app-text-as-action>
    </div>
    <div class="col-sm-12">
      <app-additional-content></app-additional-content>
    </div>
  </div>
</div>
