<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h4>Live Products</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget6">
              <apx-chart
                [series]="liveproduct.series"
                [chart]="liveproduct.chart"
                [stroke]="liveproduct.stroke"
                [annotations]="liveproduct.annotations"
                [colors]="liveproduct.colors"
                [yaxis]="liveproduct.yaxis"
                [xaxis]="liveproduct.xaxis"
                [legend]="liveproduct.legend"
                [tooltip]="liveproduct.tooltip"
                [dataLabels]="liveproduct.dataLabels"
                [grid]="liveproduct.grid"
                [responsive]="liveproduct.responsive"
                [fill]="liveproduct.fill">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
