<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="blog-box blog-list row">
        <div class="col-sm-5">
          <img
            class="img-fluid sm-100-w"
            src="assets/images/faq/1.jpg"
            alt=""
          />
        </div>
        <div class="col-sm-7 py-2">
          <div class="blog-details">
            <div class="blog-date"><span>05</span> January 2023</div>
            <a href="/learning/detailed-course"> <h6>Java Language</h6></a>
            <div class="blog-bottom-content">
              <ul class="blog-social">
                <li>by: Paige Turner</li>
                <li>15 Hits</li>
              </ul>
              <hr />
              <p class="mt-0">
                Java is an object-oriented programming language. It is popularly
                used for developing Java applications in laptops, phones, game,
                and scientific super computers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="blog-box blog-list row">
        <div class="col-sm-5">
          <img
            class="img-fluid sm-100-w"
            src="assets/images/faq/2.jpg"
            alt=""
          />
        </div>
        <div class="col-sm-7 py-2">
          <div class="blog-details">
            <div class="blog-date"><span>10</span> March 2023</div>
            <a href="/learning/detailed-course"> <h6>Web Development</h6></a>
            <div class="blog-bottom-content">
              <ul class="blog-social">
                <li>by: Petey Cruiser</li>
                <li>34 Hits</li>
              </ul>
              <hr />
              <p class="mt-0">
                Web development is the work involved in developing. Web
                development can range from developing a simple static page to
                complex web applications being created every day.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
