<div class="col-sm-12 basic-card-item">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <app-common-profile-card [data]="cardData1"></app-common-profile-card>
    </div>
    <div class="col-xl-4 col-lg-12 pre-order">
      <div class="card custom-profile">
        <div class="card-body">
          <div class="card-profile">
            <img
              class="user-img pt-4"
              src="assets/images/general-widget/user-profile.png"
              alt=""
            />
          </div>
          <div class="text-center profile-details">
            <h4>Jenny Gester</h4>
            <h6>CEO</h6>
          </div>
          <ul class="card-social">
            <li class="bg-fb">
              <a
                href="https://www.facebook.com"
                target="_blank"
                data-bs-original-title=""
                title=""
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li class="bg-gplus">
              <a
                href="https://www.google.com"
                target="_blank"
                data-bs-original-title=""
                title=""
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
            <li class="bg-twitter">
              <a
                href="https://www.twitter.com"
                target="_blank"
                data-bs-original-title=""
                title=""
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li class="bg-insta">
              <a
                href="https://www.instagram.com"
                target="_blank"
                data-bs-original-title=""
                title=""
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="bg-linkedin">
              <a
                href="https://www.linkedin.com"
                target="_blank"
                data-bs-original-title=""
                title=""
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-4 col-sm-4">
              <h6 class="font-roboto">Follower</h6>
              <h5 class="counter">5564</h5>
            </div>
            <div class="col-4 col-sm-4">
              <h6 class="font-roboto">Following</h6>
              <h5><span class="counter">24</span>K</h5>
            </div>
            <div class="col-4 col-sm-4">
              <h6 class="font-roboto">Total Post</h6>
              <h5><span class="counter">36</span>M</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <app-common-profile-card [data]="cardData2"></app-common-profile-card>
    </div>
  </div>
</div>
