<div class="card">
  <div class="card-header pb-0">
    <h4>Text as action</h4>
    <span
      >Use the <code>.action-text</code> class to add dismiss text instead of
      icon</span
    >
  </div>
  <div class="card-body dismiss-text">
    <ng-container *ngFor="let a of data">
      <div
        class="alert alert-{{ a.color }} inverse alert-dismissible fade show"
        role="alert"
      >
        <app-feather-icons [icon]="a.icon"></app-feather-icons>
        <p>Your time Over after <b>5</b> miniute</p>
        <button class="btn-close" type="button" (click)="deleteMsg(a.id)">
          <span class="bg-{{ a.color }}">dismiss</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
