<div class="row">
  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="blog-box blog-grid">
        <div class="blog-wrraper">
          <a href="/blog/blog-single"><img class="img-fluid top-radius-blog" src="assets/images/blog/blog-5.jpg"
              alt="" /></a>
        </div>
        <div class="blog-details-second">
          <div class="blog-post-date">
            <span class="blg-month">apr</span><span class="blg-date">10</span>
          </div>
          <a href="/blog/blog-single">
            <h6 class="blog-bottom-details">Encounter every day.</h6>
          </a>
          <p>
            A huge part of it is the incomparable beauty you can encounter every
            day.
          </p>
          <div class="detail-footer">
            <ul class="sociyal-list">
              <li><i class="fa fa-user-o"></i>admin</li>
              <li><i class="fa fa-comments-o"></i>5</li>
              <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="blog-box blog-grid">
        <div class="blog-wrraper">
          <a href="/blog/blog-single"><img class="img-fluid top-radius-blog" src="assets/images/blog/blog-6.jpg"
              alt="" /></a>
        </div>
        <div class="blog-details-second">
          <div class="blog-post-date">
            <span class="blg-month">apr</span><span class="blg-date">10</span>
          </div>
          <a href="/blog/blog-single">
            <h6 class="blog-bottom-details">Flower color is important.</h6>
          </a>
          <p>
            A garden where plants that flower are grown and displayed in floral
            garden
          </p>
          <div class="detail-footer">
            <ul class="sociyal-list">
              <li><i class="fa fa-user-o"></i>admin</li>
              <li><i class="fa fa-comments-o"></i>5</li>
              <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-12">
    <div class="card">
      <div class="blog-box blog-grid">
        <div class="blog-wrraper">
          <a href="/blog/blog-single"><img class="img-fluid top-radius-blog" src="assets/images/blog/blog-5.jpg"
              alt="" /></a>
        </div>
        <div class="blog-details-second">
          <div class="blog-post-date">
            <span class="blg-month">apr</span><span class="blg-date">10</span>
          </div>
          <a href="/blog/blog-single">
            <h6 class="blog-bottom-details">Encounter every day.</h6>
          </a>
          <p>
            A huge part of it is the incomparable beauty you can encounter every
            day.
          </p>
          <div class="detail-footer">
            <ul class="sociyal-list">
              <li><i class="fa fa-user-o"></i>admin</li>
              <li><i class="fa fa-comments-o"></i>5</li>
              <li><i class="fa fa-thumbs-o-up"></i>2 like</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>