<div class="card">
  <div class="card-header pb-0">
    <h4>Column Chart <span>2 </span></h4>
  </div>
  <div class="card-body chart-block">
    <div class="chart-overflow" id="column-chart">
      <apx-chart
        [chart]="columnChart.chart"
        [plotOptions]="columnChart.plotOptions"
        [dataLabels]="columnChart.dataLabels"
        [stroke]="columnChart.stroke"
        [series]="columnChart.series"
        [xaxis]="columnChart.xaxis"
        [yaxis]="columnChart.yaxis"
        [fill]="columnChart.fill"
        [tooltip]="columnChart.tooltip"
        [colors]="columnChart.colors"
      >
      </apx-chart>
    </div>
  </div>
</div>
