<div class="card height-equal">
  <div class="card-header pb-0">
    <h4>Alert With Icon</h4>
    <span>Just add Any icon before text</span>
  </div>
  <div class="card-body">
    <ng-container *ngFor="let a of data">
      <div
        class="alert alert-{{ a.color }} dark alert-dismissible fade show"
        role="alert"
      >
        <app-feather-icons [icon]="a.icon"></app-feather-icons>
        <p>You can check in on some of those fields below.</p>
        <button
          class="btn-close"
          type="button"
          aria-label="Close"
          (click)="deleteMsg(a.id)"
        ></button>
      </div>
    </ng-container>
  </div>
</div>
