<app-breadcrumb
  [title]="'Search Website'"
  [items]="['Search pages']"
  [active_item]="'Search Website'"
></app-breadcrumb>
<div class="container-fluid search-page">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <form class="search-form">
            <div class="form-group m-0">
              <label class="sr-only">Email</label>
            </div>
            <div class="form-group mb-0">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="icon-search"></i
                ></span>
                <input
                  class="form-control-plaintext"
                  type="search"
                  placeholder="Search.."
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs search-list" id="top-tab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                [ngClass]="{ 'active show': openTab == 'All' }"
                (click)="tabbed('All')"
                ><i class="icon-target"></i>All</a
              >
              <div class="material-border"></div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'active show': openTab == 'Images' }"
                (click)="tabbed('Images')"
                ><i class="icon-image"></i>Images</a
              >
              <div class="material-border"></div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ 'active show': openTab == 'Videos' }"
                (click)="tabbed('Videos')"
                ><i class="icon-video-clapper"></i>Videos</a
              >
              <div class="material-border"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-map-alt"></i>Maps</a>
              <div class="material-border"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link"><i class="icon-settings"></i>Settings</a>
              <div class="material-border"></div>
            </li>
          </ul>
          <div class="tab-content" id="top-tabContent">
            <div
              class="search-links tab-pane fade show active"
              [ngClass]="{ 'show active': openTab == 'All' }"
            >
              <app-all></app-all>
            </div>
            <div
              class="tab-pane fade"
              [ngClass]="{ 'show active': openTab == 'Images' }"
            >
              <app-images></app-images>
            </div>
            <div
              class="tab-pane fade"
              [ngClass]="{ 'show active': openTab == 'Videos' }"
            >
              <app-videos></app-videos>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
