<div
  class="default-according style-1 faq-accordion job-accordion"
  id="accordionoc1"
>
  <div class="row">
    <div class="col-xl-12 col-md-6 xl-100 box-col-12">
      <app-profile-intro></app-profile-intro>
    </div>
    <div class="col-xl-12 col-sm-6 xl-100 box-col-12">
      <app-followers></app-followers>
    </div>
    <div class="col-xl-12 col-sm-6 xl-100 box-col-12">
      <app-following></app-following>
    </div>
    <div class="col-xl-12 col-sm-6 xl-100 box-col-12">
      <app-latest-photos></app-latest-photos>
    </div>
    <div class="col-xl-12 col-sm-6 xl-100 box-col-12"></div>
    <div class="col-xl-12 col-md-6 xl-100 box-col-12">
      <div class="card">
        <img
          class="img-fluid"
          src="assets/images/social-app/timeline-4.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
