<ul class="profile-dropdown onhover-show-div">
  <li>
    <a routerLink="/users/users-profile"
      ><i data-feather="user"></i><span>Account</span></a
    >
  </li>
  <li>
    <a routerLink="/email/email-app"
      ><i data-feather="mail"></i><span>Inbox</span></a
    >
  </li>
  <li>
    <a routerLink="/users/users-edit"
      ><i data-feather="settings"></i><span>Settings</span></a
    >
  </li>
  <li>
    <a routerLink="/auth/login"
      ><i data-feather="log-in"> </i><span>Log out</span></a
    >
  </li>
</ul>
