<div class="card">
  <div class="profile-post">
    <div class="post-header">
      <div class="d-flex">
        <img class="img-thumbnail rounded-circle me-3" src="assets/images/user/7.jpg" alt="Generic placeholder image" />
        <div class="flex-grow-1 align-self-center">
          <a href="social-app">
            <h5 class="user-name">Emay Walter</h5>
          </a>
          <h6>5 Hours ago</h6>
        </div>
      </div>
      <div class="post-setting"><i class="fa fa-ellipsis-h"></i></div>
    </div>
    <div class="post-body">
      <div class="img-container">
        <div class="row mt-4 pictures my-gallery" id="aniimated-thumbnials-2" itemscope="">
          <figure class="col-sm-6 m-0 mx-0" itemprop="associatedMedia" itemscope="">
            <a href="assets/images/user-profile/post2.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-fluid" src="assets/images/user-profile/post2.jpg" itemprop="thumbnail" alt="gallery" /></a>
          </figure>
          <figure class="col-sm-6 mx-0" itemprop="associatedMedia" itemscope="">
            <a href="assets/images/user-profile/post3.jpg" itemprop="contentUrl" data-size="1600x950"><img
                class="img-fluid" src="assets/images/user-profile/post3.jpg" itemprop="thumbnail" alt="gallery" /></a>
          </figure>
        </div>
      </div>
      <div class="post-react">
        <ul>
          <li>
            <img class="rounded-circle" src="assets/images/user/3.jpg" alt="" />
          </li>
          <li>
            <img class="rounded-circle" src="assets/images/user/5.jpg" alt="" />
          </li>
          <li>
            <img class="rounded-circle" src="assets/images/user/1.jpg" alt="" />
          </li>
        </ul>
        <h6 class="f-w-500">+25 people react this post</h6>
      </div>
      <p>
        Success isn't about the end result, it's about what you learn along the
        way. Confidence. If you have it, you can make anything look good. Grunge
        is a hippied romantic version of punk. I'm an accomplice to helping
        women get what they want. Clothes can transform your mood and
        confidence. I think it's an old fashioned notion that fashion needs to
        be exclusive to be fashionable.
      </p>
      <ul class="post-comment">
        <li>
          <label><a href="javascript:void(0)"><i data-feather="heart"></i>&nbsp;&nbsp;Like<span
                class="counter">520</span></a></label>
        </li>
        <li>
          <label><a href="javascript:void(0)"><i data-feather="message-square"></i>&nbsp;&nbsp;Comment<span
                class="counter">85</span></a></label>
        </li>
        <li>
          <label><a href="javascript:void(0)"><i data-feather="share"></i>&nbsp;&nbsp;share<span
                class="counter">30</span></a></label>
        </li>
      </ul>
    </div>
  </div>
</div>