<app-breadcrumb [title]="'Card View'" [items]="['Job Search']" [active_item]="'Card View'"></app-breadcrumb>
<div class="container-fluid job-cardview">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 box-col-30">
      <app-job-filter></app-job-filter>
    </div>
    <div class="col-xxl-9 col-xl-8 box-col-8">
      <div class="row">
        <ng-container *ngFor="let job of jobCards">
          <div class="col-xl-6 box-col-6">
            <div class="card" [class.ribbon-vertical-left-wrapper]="job.tag == true">
              <div class="ribbon ribbon-bookmark ribbon-vertical-left ribbon-secondary" *ngIf="job.tag == true">
                <i class="icofont icofont-love"></i>
              </div>
              <div class="job-search">
                <div class="card-body">
                  <div class="d-sm-flex align-items-start">
                    <img class="img-40 img-fluid m-r-20" src="{{ job.iconImg }}" alt="" />
                    <div class="flex-grow-1">
                      <h6 class="f-w-600">
                        <a routerLink="/job-search/job-details">{{
                          job.title
                          }}</a><span class="pull-right">{{ job.day }}</span><span
                          class="badge badge-primary pull-right" *ngIf="job.NewTag == 'New'">{{ job.NewTag }}</span>
                      </h6>
                      <p>{{ job.subTitle }}</p>&nbsp;
                      <ngb-rating [rate]="job.rating"></ngb-rating>
                    </div>
                  </div>
                  <p class="mb-0">{{ job.dace }}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col-sm-12">
          <div class="job-pagination">
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-primary">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)">Previous</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>