<div class="card social-widget-card">
  <div class="card-body">
    <div class="d-flex">
      <div class="social-font flex-shrink-0">
        <img src="{{ data.image }}" alt="" />
      </div>
      <div class="flex-grow-1">
        <h4>{{ data.title }}</h4>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col text-center">
        <h6>Posts</h6>
        <h5 class="counter mb-0 font-primary mt-1">{{ data.postCount }}</h5>
      </div>
      <div class="col text-center">
        <h6>Likes</h6>
        <h5 class="counter mb-0 font-primary mt-1">{{ data.likeCount }}</h5>
      </div>
    </div>
  </div>
</div>
