<div class="row">
  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="card-header b-l-primary b-b-light">
        <h4>Border left</h4>
      </div>
      <div class="card-body">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6">
    <div class="card">
      <div class="card-header b-t-info b-b-light">
        <h4>Border top</h4>
      </div>
      <div class="card-body">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled.
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header b-r-danger b-b-light">
        <h4>Border right</h4>
      </div>
      <div class="card-body">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled.
        </p>
      </div>
    </div>
  </div>
</div>
