<div class="card">
  <div class="card-body">
    <div class="row my-gallery gallery-with-description" itemscope="" gallerize>
      <figure
        class="col-xl-3 col-sm-6 mx-0 mb-4"
        itemprop="associatedMedia"
        *ngFor="let img of imageData">
        <a href="javascript:void(0)" itemprop="contentUrl">
          <img [src]="img.srcUrl" class="img-fluid" />
          <div class="caption">
            <h4>{{ img.title }}</h4>
            <p class="mb-0">{{ img.decs }}</p>
          </div>
        </a>
      </figure>
    </div>
  </div>
</div>
