<app-breadcrumb
  [title]="'Buttons Group'"
  [items]="['Buttons']"
  [active_item]="'Buttons Group'"
></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <app-square-btn-group></app-square-btn-group>
    <app-round-btn-group></app-round-btn-group>
    <div class="col-12">
      <app-outline-custom-btn-group2></app-outline-custom-btn-group2>
    </div>
    <div class="col-12">
      <app-outline-custom-btn-group></app-outline-custom-btn-group>
    </div>
    <div class="col-12">
      <app-outline-btn-group></app-outline-btn-group>
    </div>
    <div class="col-12">
      <app-outline-edge-btn></app-outline-edge-btn>
    </div>
    <div class="col-12">
      <app-outline-flat-btn></app-outline-flat-btn>
    </div>
    <div class="col-12">
      <app-radio-btn-group></app-radio-btn-group>
    </div>
    <div class="col-12">
      <app-check-box-btn-group></app-check-box-btn-group>
    </div>
    <div class="col-lg-6">
      <app-btn-nesting></app-btn-nesting>
    </div>
    <div class="col-lg-6">
      <app-btn-vertical></app-btn-vertical>
    </div>
  </div>
</div>
