<div class="card user-status">
  <div class="card-header pb-0">
    <h4>Product cart</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive theme-scrollbar mb-0">
      <table class="table table-bordernone">
        <thead>
          <tr>
            <th scope="col">Details</th>
            <th scope="col">Qty.</th>
            <th scope="col">Price</th>
            <th class="text-end" scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of productCart">
            <td>{{ data.details }}</td>
            <td class="digits">{{ data.qty }}</td>
            <td>{{ data.price }}</td>
            <td class="text-end">
              <span class="badge badge-light-{{ data.statusBgColor }}"> {{ data.status }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
