<app-breadcrumb
  [title]="'Lists'"
  [items]="['Ui Kits']"
  [active_item]="'Lists'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-6 col-xl-6">
      <app-default-list></app-default-list>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-6">
      <app-link-button></app-link-button>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-6">
      <app-flush-list></app-flush-list>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-6">
      <app-contextual-classes></app-contextual-classes>
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <app-with-icon></app-with-icon>
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <app-custom-content></app-custom-content>
    </div>
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <app-javascript-behaviour></app-javascript-behaviour>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-6">
      <app-with-images></app-with-images>
    </div>
    <div class="col-sm-12 col-lg-6 col-xl-6">
      <app-with-images-rounded></app-with-images-rounded>
    </div>
  </div>
</div>
