<app-breadcrumb
  [title]="'Base Inputs'"
  [items]="['Form Controls']"
  [active_item]="'Base Inputs'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-basic-form-control></app-basic-form-control>
      <app-basic-html-input-control></app-basic-html-input-control>
    </div>
    <div class="col-lg-6">
      <app-edge-input-style></app-edge-input-style>
    </div>
    <div class="col-lg-6">
      <app-flat-input-style></app-flat-input-style>
    </div>
    <div class="col-lg-6">
      <app-raise-input-style></app-raise-input-style>
    </div>
    <div class="col-lg-6">
      <app-solid-input-style></app-solid-input-style>
    </div>
    <div class="col-sm-12">
      <app-input-sizing></app-input-sizing>
    </div>
    <div class="col-sm-12">
      <app-custom-controls></app-custom-controls>
    </div>
  </div>
</div>
