<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <div class="d-flex">
        <div class="flex-grow-1">
          <h4>Monthly Sales</h4>
        </div>
        <div class="setting-list">
          <ul class="list-unstyled setting-option">
            <li>
              <div class="setting-light">
                <i class="icon-layout-grid2"></i>
              </div>
            </li>
            <li><i class="view-html fa fa-code font-white"></i></li>
            <li>
              <i class="icofont icofont-maximize full-card font-white"></i>
            </li>
            <li>
              <i class="icofont icofont-minus minimize-card font-white"></i>
            </li>
            <li>
              <i class="icofont icofont-refresh reload-card font-white"></i>
            </li>
            <li>
              <i class="icofont icofont-error close-card font-white"> </i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget8">
              <apx-chart
                [chart]="monthly.chart"
                [dataLabels]="monthly.dataLabels"
                [xaxis]="monthly.xaxis"
                [yaxis]="monthly.yaxis"
                [fill]="monthly.fill"
                [plotOptions]="monthly.plotOptions"
                [colors]="monthly.colors"
                [series]="monthly.series"
                [tooltip]="monthly.tooltip"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
