
<div class="card height-equal">
    <div class="card-header pb-0">
      <h4>Dismissing</h4>
      <span
        >To animate alerts when dismissing them, be sure to add the
        <code>.fade </code>and <code>.show</code>class</span
      >
    </div>
    <div class="card-body">
      <ng-container *ngFor="let a of data">
        <div
          class="alert alert-{{ a.color }} alert-dismissible fade show"
          role="alert"
        >
          <strong>Holy ! </strong> You can check in on some of those fields below.
          <button
            class="btn-close"
            type="button"
            (click)="deleteMsg(a.id)"
          ></button>
        </div>
      </ng-container>
    </div>
  </div>
  