<span class="f-w-600">More pages</span
><span><i class="middle" data-feather="chevron-down"></i></span>
<ul class="onhover-show-div left-dropdown">
  <li>
    <a routerLink="authentication/login/login-image-one">Authentication</a>
  </li>
  <li><a routerLink="error-page/error-page1">Error Page</a></li>
  <li>
    <a routerLink="coming-soon/coming-bg-image">Coming Soon</a>
  </li>
  <li class="flyout-right">
    <a href="javascript:void(0)">Sign Up</a>
    <ul>
      <li class="flyout-right">
        <a href="javascript:void(0)">Register</a>
        <ul>
          <li>
            <a routerLink="authentication/register/register-simple"
              >Register simple</a
            >
          </li>
          <li>
            <a routerLink="authentication/register/register-bg-video"
              >bg image</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a routerLink="/page-layout/hide-nav-scroll">Hide Menu On Scroll</a>
      </li>
      <li class="flyout-right">
        <a href="javascript:void(0)">Footers</a>
        <ul>
          <li>
            <a routerLink="/page-layout/footer-light">Footer Light</a>
          </li>
          <li>
            <a routerLink="/page-layout/footer-dark">Footer Dark </a>
          </li>
          <li>
            <a routerLink="/page-layout/footer-fixed">Footer Fixed</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
