<div
  class="knowledgebase-bg b-center bg-size"
  style="
    background-image: url('assets/images/knowledgebase/bg_1.jpg');
    background-size: cover;
    background-position: center center;
    display: block;
  "
>
  <img
    class="bg-img-cover bg-center"
    src="assets/images/knowledgebase/bg_1.jpg"
    alt="looginpage"
    style="display: none"
  />
</div>
<div class="knowledgebase-search">
  <div>
    <h3>How Can I help you?</h3>
    <form class="form-inline" action="#" method="get">
      <div class="form-group w-100 mb-0">
        <i data-feather="search"></i>
        <input
          class="form-control-plaintext w-100"
          type="text"
          placeholder="Type question here"
          title=""
        />
      </div>
    </form>
  </div>
</div>
