<app-breadcrumb
  [title]="'Grid'"
  [items]="['Ui Kits']"
  [active_item]="'Grid'"
></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid grid-wrrapper">
  <div class="row">
    <div class="col-sm-12">
      <app-grid-option></app-grid-option>
    </div>
    <div class="col-sm-12">
      <app-grid-column></app-grid-column>
    </div>
    <div class="col-sm-12">
      <app-row-column></app-row-column>
    </div>
    <div class="col-sm-12">
      <app-verticle-alignment></app-verticle-alignment>
    </div>
    <div class="col-sm-12">
      <app-horizontal-alignment></app-horizontal-alignment>
    </div>
    <div class="col-sm-12">
      <app-nesting-column></app-nesting-column>
    </div>
    <div class="col-sm-12">
      <app-order></app-order>
    </div>
    <div class="col-sm-12">
      <app-offset></app-offset>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
