<app-breadcrumb [title]="'Default-Style'" [items]="['Buttons']" [active_item]="'Default-Style'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ng-container *ngFor="let button of buttons">
        <div class="card" id="default">
          <div class="card-header pb-0">
            <h4>{{ button.buttonTitle }}</h4>
            <span [innerHtml]="button.buttonSubTitle"></span>
          </div>
          <div class="card-body">
            <div class="btn-showcase">
              <ng-container *ngFor="let btn of button.buttonsColor">
                <button class="btn btn-{{ btn }} {{ button.buttonClass }}" [class.text-dark]="btn === 'light'"
                  type="button">
                  {{ btn | titlecase }} Button
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="card" id="custom-state-button">
        <div class="card-header pb-0">
          <h4>Custom state buttons</h4>
          <span>The <code>.btn</code> class used with <code>&lt;button&gt;</code>,
            <code>&lt;a&gt;</code> and
            <code>&lt;input&gt;</code> elements.</span>
        </div>
        <div class="card-body">
          <div class="btn-showcase">
            <a class="btn btn-primary" href="javascript:void(0)" title="btn btn-primary" role="button">Link</a>
            <input class="btn btn-secondary" type="button" value="Input" title="btn btn-secondary" />
            <input class="btn btn-success" type="submit" value="Submit" title="btn btn-success" />
            <button class="btn btn-info" type="submit">Button</button>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let button of buttonsOnline">
        <div class="card" id="outline-button">
          <div class="card-header pb-0">
            <h4>{{ button.buttonTitle }}</h4>
            <span [innerHTML]="button.buttonSubTitle"></span>
          </div>
          <div class="card-body">
            <div class="btn-showcase">
              <ng-container *ngFor="let btn of button.buttonsColor">
                <button class="btn btn-outline-{{ btn }} {{ button.buttonClass }}" [class.text-dark]="btn === 'light'"
                  type="button">
                  {{ btn | titlecase }} Button
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="card" id="gradiant">
        <div class="card-header pb-0">
          <h4>Gradien buttons</h4>
          <span>Add <code>.btn-*-gradien</code> class for gradien button</span>
        </div>
        <div class="card-body">
          <div class="btn-showcase">
            <button class="btn btn-primary-gradien" type="button">
              Primary Button
            </button>
            <button class="btn btn-secondary-gradien" type="button">
              Secondary Button
            </button>
            <button class="btn btn-success-gradien" type="button">
              Success Button
            </button>
            <button class="btn btn-info-gradien" type="button">
              Info Button
            </button>
            <button class="btn btn-warning-gradien" type="button">
              Warning Button
            </button>
            <button class="btn btn-danger-gradien" type="button">
              Danger Button
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>