<app-breadcrumb
  [title]="'Checkbox & Radio'"
  [items]="['Form Controls']"
  [active_item]="'Checkbox & Radio'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <app-custom-checkbox></app-custom-checkbox>
    </div>
    <div class="col-xl-4 col-md-6">
      <app-custom-radio></app-custom-radio>
    </div>
    <div class="col-xl-4 col-md-12">
      <app-square-checkbox></app-square-checkbox>
    </div>
    <div class="col-md-6">
      <app-animated-radio-buttons></app-animated-radio-buttons>
    </div>
    <div class="col-md-6">
      <app-animated-checkbox-buttons></app-animated-checkbox-buttons>
    </div>
  </div>
</div>
