<app-breadcrumb
  [title]="'Line Tabs'"
  [items]="['Ui Kits']"
  [active_item]="'Line Tabs'"
></app-breadcrumb>
<div class="container-fluid line-tabs">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-simple-material-style></app-simple-material-style>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-simple-style-bottom-tab></app-simple-style-bottom-tab>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-style-left-tab></app-style-left-tab>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-style-right-tab></app-style-right-tab>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-color-tabs [tabs]="Primary"></app-color-tabs>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-color-tabs [tabs]="Secondary"></app-color-tabs>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-material-style-left-tab></app-material-style-left-tab>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-material-style-right-tab></app-material-style-right-tab>
    </div>
  </div>
</div>
