<div class="card">
  <div class="card-header pb-0">
    <h4>Pearls Step Sizing</h4>
    <span
      >A Pearls step with classname <code>.u-pearls-xs</code
      ><code>.u-pearls-sm</code><code>.u-pearls-lg</code></span
    >
  </div>
  <div class="card-body">
    <div class="u-pearls-xs row mb-5">
      <div class="u-pearl done col-4">
        <span class="u-pearl-number">1</span
        ><span class="u-pearl-title">Account Info</span>
      </div>
      <div class="u-pearl current col-4">
        <span class="u-pearl-number">2</span
        ><span class="u-pearl-title">Billing Info</span>
      </div>
      <div class="u-pearl col-4">
        <span class="u-pearl-number">3</span
        ><span class="u-pearl-title">Confirmation</span>
      </div>
    </div>
    <div class="u-pearls-sm row mb-5">
      <div class="u-pearl done col-4">
        <span class="u-pearl-number">1</span
        ><span class="u-pearl-title">Account Info</span>
      </div>
      <div class="u-pearl current col-4">
        <span class="u-pearl-number">2</span
        ><span class="u-pearl-title">Billing Info</span>
      </div>
      <div class="u-pearl col-4">
        <span class="u-pearl-number">3</span
        ><span class="u-pearl-title">Confirmation</span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="u-pearl done col-4">
        <span class="u-pearl-number">1</span
        ><span class="u-pearl-title">Account Info</span>
      </div>
      <div class="u-pearl current col-4">
        <span class="u-pearl-number">2</span
        ><span class="u-pearl-title">Billing Info</span>
      </div>
      <div class="u-pearl col-4">
        <span class="u-pearl-number">3</span
        ><span class="u-pearl-title">Confirmation</span>
      </div>
    </div>
    <div class="u-pearls-lg row">
      <div class="u-pearl done col-4">
        <span class="u-pearl-number">1</span
        ><span class="u-pearl-title">Account Info</span>
      </div>
      <div class="u-pearl current col-4">
        <span class="u-pearl-number">2</span
        ><span class="u-pearl-title">Billing Info</span>
      </div>
      <div class="u-pearl col-4">
        <span class="u-pearl-number">3</span
        ><span class="u-pearl-title">Confirmation</span>
      </div>
    </div>
  </div>
</div>
